.app-layout {
  display: flex;
  height: calc(100vh - 60px);
}

// app-sidebar {
//   flex: 0 0 240px;
//   transition: flex-basis 0.25s ease, width 0.25s ease;
// }

.app-layout.sidebar-collapsed app-sidebar {
  flex: 0 0 60px;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-x: hidden;
  transition: margin-left 0.25s ease;
}

app-side-nav {
  flex: 0 0 240px;
  transition: flex-basis 0.25s ease, width 0.25s ease;
}


