.sidenav {
  width: 240px;
  height: calc(100vh - 60px); // subtract navbar height
  background-color: #022d49;
  position: fixed;
  top: 60px;
  left: 0;
  overflow-y: auto;
  color: white;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 60px;
}

.content {
  margin-left: 240px;
  margin-top: 60px;
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 60px;
}

/* Links */
.sidenav .nav-link {
  color: #fff;
  padding: 12px 20px;
  font-size: 15px;
  transition: background 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.sidenav .nav-link:hover,
.sidenav .nav-link.active {
  background-color: #034c73;
  border-radius: 4px;
}

.submenu a {
  color: #cfd8dc;
  padding: 8px 15px;
  display: block;
}

.submenu a:hover,
.submenu a.active {
  color: #fff;
  background-color: #046fa1;
  border-radius: 4px;
}